body {
  font-family: Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans,
    Droid Sans, Helvetica Neue, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  background-image: url('../images/_3c383f5f-b86d-46cc-8761-32f1bf91ff66.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #333333;
  background-attachment: fixed;
}

h1 {
  text-align: center;
}

.pokemon {
  align-items: center;
  border: 1px gray solid;
  border-radius: 10px;
  display: flex;
  flex: 1 1 0;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
  min-width: 240px;
  background-color: rgba(255, 255, 255, 0.8);
}

.pokedex {
  display: flex;
  flex-wrap: wrap;
  margin: 10px;
}
